/* @import url('https://fonts.googleapis.com/css?family=Prompt:100,500,900'); */

@font-face {
    font-family: sharpBook20;
    src: url('fonts/SharpGrotesk-Book20.otf');
}

@font-face {
    font-family: sharpBook25;
    src: url('fonts/SharpGrotesk-Book25.otf');
}

@font-face {
    font-family: sharpLight20;
    src: url('fonts/SharpGrotesk-Light20.otf');
}

@font-face {
    font-family: fifty-regular;
    src: url('fonts/FiftyTrial-Regular.otf');
}

@font-face {
    font-family: new-burns-regular;
    src: url('fonts/NewBurnsTrial-Regular.otf');
}

@font-face {
    font-family: sharpBlack10;
    src: url('fonts/SharpGrotesk-Black10.otf');
}

@font-face {
    font-family: larish;
    src: url('fonts/larish_neue_semibold.otf');
}

html {
    font-size: 100%;
}

/* SCROLLBAR */

/* Let's get this party started */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    /* background: #000; */
    /* THIS IS IMPORTANT */
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #fff;
    /* border: 1px solid rgb(0,0,0); */
    /*border: 3px solid transparent;*/
    background-clip: content-box;
}

body {
    font-family: 'sharpBook25', sans-serif;
    margin: 0px;
    padding: 0px;
    scrollbar-color: #0f0 #00f;
}

/*
    header and footer section
*/

.header, .footer {
    /* text-align: center; */
    position: fixed;
    height: 30px;
    left: 0px;
    width: 100%;
    background-color: rgb(0, 17, 255);
}

.header {
    top: 0px;
    border-bottom: solid 3px #00f;
    color: rgb(255, 255, 255);
}

.footer {
    bottom: 0px;
    border-top: solid 3px rgb(0, 255, 34);
}

#project-clear, #project-menu, #project-random, #contact-me {
    cursor: url('imgs/jo_icon.png'), auto;
    font-size: 28px;
    position: absolute;
    color: rgb(255, 255, 255);
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
}

#project-clear:hover, #project-menu:hover, #project-random:hover, #contact-me:hover {
    color: #f00;
    /* font-style: italic; */
}

#project-clear, #project-random {
    /* left: 0px; */
    left: 50%;
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    padding-left: 10px;
    padding-top: 3px;
}

#project-menu {
    right: 0px;
    padding-right: 10px;
    padding-top: 3px;
    display: none;
}

/*
end of header footer
*/

/* questo qua sotto sone i 4 div
qui li cambi globalmente */

#project1, #project2, #project3, #project4 {
    position: fixed;
    width: 50%;
    height: calc(50% - 31px);
    /* background: linear-gradient(45deg, #f99884, #84f9a1); */
    /* overflow-y: scroll; */
    z-index: 0;
    /* padding-bottom: 5px; */
    /* border: solid 3px #00f; */
    /* font-size: 15vh; */
}

#project1, #project2 {
    top: 30px;
}

#project3, #project4 {
    bottom: 33px;
    /*border-top: solid 3px #00f; */
}

/* qui singolarmente */

#project1 {
    right: 0px;
    background: radial-gradient(circle at 50% 0, rgba(255, 0, 0, .5), rgba(255, 0, 0, 0) 70.71%), radial-gradient(circle at 6.7% 75%, rgba(0, 0, 255, .5), rgba(0, 0, 255, 0) 70.71%), radial-gradient(circle at 93.3% 75%, rgba(0, 255, 0, .5), rgba(0, 255, 0, 0) 70.71%) beige;
}

#project2 {
    left: 0px;
    background: radial-gradient(circle at 50% 0, rgba(0, 255, 114, 0.5), rgba(255, 0, 0, 0) 70.71%), radial-gradient(circle at 6.7% 75%, rgba(0, 20, 255, 0.5), rgba(0, 0, 255, 0) 70.71%), radial-gradient(circle at 93.3% 75%, rgba(0, 255, 0, 0.38), rgba(0, 255, 0, 0) 70.71%) #abe0d4;
}

#project3 {
    left: 0px;
    background: radial-gradient(circle at 50% 0, rgba(255, 196, 0, 0.5), rgba(255, 0, 0, 0) 70.71%), radial-gradient(circle at 6.7% 75%, rgba(0, 255, 13, 0.5), rgba(0, 0, 255, 0) 70.71%), radial-gradient(circle at 93.3% 75%, rgba(0, 255, 0, .5), rgba(0, 255, 0, 0) 70.71%) beige;
}

#project4 {
    right: 0px;
    background: radial-gradient(circle at 50% 0, rgba(255, 0, 0, .5), rgba(255, 0, 0, 0) 70.71%), radial-gradient(circle at 6.7% 75%, rgba(0, 0, 255, .5), rgba(0, 0, 255, 0) 70.71%), radial-gradient(circle at 93.3% 75%, rgba(0, 255, 0, .5), rgba(0, 255, 0, 0) 70.71%) beige;
}

.title {
    position: absolute;
    display: inline-block;
    top: 0px;
    width: min-content;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: -o-min-content;
    text-align: right;
    transform: rotate(-90deg) translate(-100%, 0%);
    -moz-transform: rotate(-90deg) translate(-100%, 0%);
    -webkit-transform: rotate(-90deg) translate(-100%, 0%);
    -o-transform: rotate(-90deg) translate(-100%, 0%);
    transform-origin: left top;
    -moz-transform-origin: left top;
    -webkit-transform-origin: left top;
    -o-transform-origin: left top;
    background-color: #0f0;
    /* font-size: 16px; */
    padding: 0.5rem;
    text-align: center;
    z-index: 2;
    color: rgb(0, 0, 0);
    /* background-color: #ccc; */
    /*mix-blend-mode: exclusion; */
}

.title h1 {
    font-size: 1.3rem;
}

.project-list {
    /* position: absolute; */
    top: 30px;
    overflow-y: scroll;
    height: 100%;
    z-index: 1;
    margin-left: 20%;
    /* margin-top: 15%; */
    /* padding-top: 15%; */
    /* padding-bottom: 15%; */
}

/* questi sono i titoli dei progetti box bianchi */

.project-list-element {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 100;
    float: left;
    width: -moz-min-content;
    width: -o-min-content;
    width: -webkit-min-content;
    width: min-content;
    margin: 0.5rem;
    padding: 1.2rem;
    height: auto;
    color: #000;
    /* color: transparent; */
    /* background: linear-gradient(0deg, #fff, #00f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
    /* background-color: #fff; */
    border: solid 3px #000;
    box-shadow: 3px 3px #00f;
    border-radius: 0px;
    font-size: 1.25rem;
    /* text-align: left; */
}

.project-list-element:hover {
    color: #00f;
    cursor: url('imgs/jo_icon.png'), auto;
    border-radius: 50px;
    box-shadow: 6px 6px #00f;
    background-color: #ff0;
    font-style: italic;
    /* font-weight: 900; */
    /* font-family: 'sharpBook20', sans-serif; */
    /* font-family: 'Prompt', sans-serif;
    font-weight: 900; */
}

.persona {
    font-size: 2rem;
    margin: 0.5rem;
    padding: 1.2rem;
    border: solid 3px #000;
    box-shadow: 3px 3px #00f;
    border-radius: 0px;
    /* font-size: 1.25rem; */
    text-align: center;
    background: linear-gradient(0.5turn, #0ff, #ff0, #0f0, #f0f);
    width: 75%;
    line-height: 3rem;
}

.persona:hover {
    color: #00f;
    cursor: url('imgs/jo_icon.png'), auto;
    border-radius: 50px;
    box-shadow: 6px 6px #00f;
    background-color: #ff0;
    /* font-style: italic; */
    /* font-weight: 900; */
    /* font-family: 'sharpBook20', sans-serif; */
    /* font-family: 'Prompt', sans-serif;
    font-weight: 900; */
}

.content {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 65vh;
    min-width: 300px;
    min-height: 250px;
    max-height: 1200px;
    border: solid 3px #000;
    background-color: #84f9a1;
    box-shadow: 5px 5px #aaa;
    z-index: 10;
}

.content:hover {
    z-index: 999999;
}

.content-text {
    color: #000;
    font-family: 'larish', serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    width: calc(100% - 15px);
    position: relative;
    height: calc(100% - 63px);
    background-color: rgb(0, 255, 157);
    /* background-color: #84f9a1; */
    /*nice color*/
    overflow-y: scroll;
    hyphens: manual;
    padding-left: 15px;
    /* word-break: break-all; */
}

/* .content-text img {
    width: 100%;
    height: auto;
} */

.content-header {
    cursor: move;
    background-color: rgb(0, 4, 255);
    width: 100%;
    height: 50px;
    border-bottom: solid 3px #000;
    float: left;
}
.header-title {
    /* float: right; */
    font-family: 'sharpBook25', sans-serif;
    position: absolute;
    right: 0px;
    top: 25px;
    text-align: center;
    transform: translate(0, -12.5px);
    font-size: 0.6rem;
    width: calc(100% - 52px);
    z-index: 11;
}

.content-buttons {
    width: 52px;
    height: 50px;
    float: left;
    z-index: 12;
}

.close-button {
    cursor: not-allowed;
    position: absolute;
    /* float: left; */
    /* top: 25px; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
    /* margin: 4px 0px 0px 4px; */
    box-shadow: 5px 5px #000;
    background-color: #f00;
    border: solid 2px #fff;
}

.close-button:hover {
    box-shadow: 2px 2px #000;
    top: 3px;
    left: 3px;
}

.content-img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    /* text-align: center; */
    /* overflow-x: scroll; */
}

.next-btn {
    width: 100%;
    text-align: center;
    cursor: e-resize;
    background-color: rgba(0, 0, 255, .5) ;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 50px;
    font-size: 0.75rem;
    /* font-family: 'Courier New', Courier, monospace;
     */
     font-family: sharpBook25;
     font-weight: 900;
}

.content-img img {
    display: block;
    margin: 0px auto;
    width: 90%;
    max-width: 650px;
    height: auto;
    outline: solid 2px #0f0f;
    margin-bottom: 0.5rem;

    border-radius: 7px;
    /* float: left; */
    /* margin-left: 5px; */
    /* transform: rotate(180deg);
    transition-property: width, height, transform;
    transition-duration: 2s;
    border: solid 3px #0f0; */
    /* box-shadow: #fa0 5px 5px 5px; */
}

/* .content-img img:hover {
    width: 90%;
    transform: rotate(0deg);
    height: auto;
    /* float: left; */

/* margin-left: 5px; */

/* }  */

.project-container {}

#warning {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffffcc;
    font-size: 10vh;
    text-align: center;
    z-index: 999999999;
}

.idle-container {
    /* background-color: #f99884; */
    width: 7%;
    max-width: 45px;
    height: auto;
    position: fixed;
    z-index: 99999999;
}

#idle, #idle-show {
    width: 100%;
    height: auto;
}

#idle {
    display: none;
}

#idle-show {
    display: block;
}

.nav-menu {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 100%; */
    text-align: center;
    min-height: 200px;
    background-color: rgba(33, 33, 33, .3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
    height: 95vh;
    background-color: rgba(0, 0, 255, .5);
    border: solid 3px #0f0;
}

.nav-menu-element {
    cursor: pointer;
    /* margin: 5% 0 5% 0;*/
    font-size: 2rem;
    padding: 1.5rem;
    color: #fff;
    background-color: rgba(255, 0, 0, .5);
    width: min-content;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: -o-min-content;
}

@media screen and (orientation:portrait) and (max-device-width: 900px) {
    /* #warning {
        display: block;
    } */
}

@media only screen and (max-device-width: 900px) {
    html {
        font-size: 75%;
    }
    #project1, #project2, #project3, #project4 {
        top: 30px;
        left: 0px;
        width: 100%;
        height: calc(100% - 60px);
    }
    #project-clear, #project-menu, #project-random {
        font-size: 15px;
        top: 50%;
    }
    #project-menu, #project-clear {
        display: block;
        transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }
    #project-clear {
        left: 0px;
    }
    #project-random {

        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    .project-container {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100
    }
    .content {
        top: 50%;
        left: 50%;
        width: 85vw;
        height: 85vh;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    .content-img img{
        max-width: 300px;
    }
}