@import url('https://fonts.googleapis.com/css?family=Prompt:100,500,900');
@font-face {
    font-family: sharpBook20;
    src: url('fonts/SharpGrotesk-Book20.otf');
}

@font-face {
    font-family: sharpBook25;
    src: url('fonts/SharpGrotesk-Book25.otf');
}

@font-face {
    font-family: sharpLight20;
    src: url('fonts/SharpGrotesk-Light20.otf');
}

@font-face {
    font-family: fifty-regular;
    src: url('fonts/FiftyTrial-Regular.otf');
}

@font-face {
    font-family: new-burns-regular;
    src: url('fonts/NewBurnsTrial-Regular.otf');
}

@font-face {
    font-family: sharpBlack10;
    src: url('fonts/SharpGrotesk-Black10.otf');
}

@font-face {
    font-family: larish;
    src: url('fonts/larish_neue_semibold.otf');
}

html {
    font-size: 100%;
}

body {
    font-family: 'sharpBook25', sans-serif;
    margin: 0px;
    padding: 0px;
    scrollbar-color: #fff #00f;
}

.header, .footer {
    text-align: center;
    font-size: 2rem;
    position: fixed;
    height: 30px;
    left: 0px;
    width: 100%;
    background-color: #0f0;
}

.header {
    z-index: 5;
    top: 0px;
}

.footer {
    bottom: 0px;
}

/* questo qua sotto sone i 4 div
qui li cambi globalmente */

#project1, #project2, #project3, #project4 {
    position: fixed;
    width: 50%;
    height: calc(50% - 30px);
    background: linear-gradient(45deg, #f99884, #84f9a1);
    overflow-y: scroll;
    z-index: 0;
    border-top: solid 3px #00f;
    /* border: solid 3px #00f; */
    /* font-size: 15vh; */
}

#project1, #project2 {
    top: 30px;
}

#project3, #project4 {
    bottom: 30px;
    border-bottom: solid 3px #00f;
}

/* qui singolarmente */

#project1 {
    left: 0px;
}

#project2 {
    right: 0px;
}

#project3 {
    left: 0px;
}

#project4 {
    right: 0px;
}

.title {
    /* height: 100%; */
}

/* questi sono i titoli dei progetti box bianchi */

.project-list div {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 100;
    float: left;
    width: -moz-min-content;
    width: min-content;
    margin: 0.35rem;
    padding: 0.8rem;
    height: auto;
    color: #000;
    background-color: #fff;
    border: solid 3px #000;
    box-shadow: 3px 3px #00f;
    border-radius: 0px;
    font-size: 1.5rem;
    text-align: center;
}

.project-list div:hover {
    color: #00f;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 6px 6px #00f;
    background-color: #ff0;
    font-style: italic;
    /* font-weight: 900; */
    /* font-family: 'sharpBook20', sans-serif; */
    /* font-family: 'Prompt', sans-serif;
    font-weight: 900; */
}

.content {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 65vh;
    min-width: 300px;
    min-height: 250px;
    max-height: 1200px;
    border: solid 3px #000;
    background-color: #84f9a1;
    box-shadow: 5px 5px #aaa;
    z-index: 10;
}

.content:hover {
    z-index: 999999;
}

.content-text {
    color: #fff;
    font-family: 'larish', serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    width: calc(100% - 10px);
    position: relative;
    height: calc(100% - 63px);
    background-color: #00f;
    /* background-color: #84f9a1; */
    /*nice color*/
    overflow-y: scroll;
    hyphens: manual;
    padding: 5px;
    /* word-break: break-all; */
}

.content-text img {
    width: 100%;
    height: auto;
}

.content-header {
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-bottom: solid 3px #000;
    float: left;
}

.header-title {
    /* float: right; */
    font-family: 'sharpBook25', sans-serif;
    position: absolute;
    right: 0px;
    top: 25px;
    text-align: center;
    transform: translate(0, -12.5px);
    font-size: 0.6rem;
    width: calc(100% - 52px);
    z-index: 11;
}

.content-buttons {
    width: 52px;
    height: 50px;
    float: left;
    z-index: 12;
}

.close-button {
    cursor: not-allowed;
    position: absolute;
    /* float: left; */
    /* top: 25px; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
    /* margin: 4px 0px 0px 4px; */
    box-shadow: 5px 5px #000;
    background-color: #f00;
    border: solid 2px #fff;
}

.close-button:hover {
    box-shadow: 2px 2px #000;
    top: 3px;
    left: 3px;
}

.content-img {
    width: 100%;
    height: auto;
    /* text-align: center; */
    /* overflow-x: scroll; */
}

.content-img img {
    display: block;
    margin: 15px auto;
    width: 15%;
    max-width: 650px;
    height: auto;
    /* float: left; */
    /* margin-left: 5px; */
    transform: rotate(180deg);
    transition-property: width, height, transform;
    transition-duration: 2s;
    border: solid 3px #0f0;
    /* box-shadow: #fa0 5px 5px 5px; */
}

.content-img img:hover {
    width: 90%;
    transform: rotate(0deg);
    height: auto;
    /* float: left; */
    /* margin-left: 5px; */
}

.project-container {}

#warning {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffffcc;
    font-size: 10vh;
    text-align: center;
    z-index: 999999999;
}

@media screen and (orientation:portrait) {
    #warning {
        display: block;
    }
}

@media only screen and (max-device-width : 900px) {
    html{
        font-size: 75%;
    }
    .project-container{
        position: fixed;
        top: 0px;
        left:0px;
        width: 100%;
        height: 100
    }
    .content{
        top: 50%;
        left: 50%;
        width: 95vw;
        height: 95vh;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
}