@import url('https://fonts.googleapis.com/css?family=Prompt:100,500,900');
@font-face {
    font-family: sharpBook20;
    src: url('fonts/SharpGrotesk-Book20.otf');
}

@font-face {
    font-family: sharpBook25;
    src: url('fonts/SharpGrotesk-Book25.otf');
}

@font-face {
    font-family: sharpLight20;
    src: url('fonts/SharpGrotesk-Light20.otf');
}

@font-face {
    font-family: sharpBlack10;
    src: url('fonts/SharpGrotesk-Black10.otf');
}

html {
    font-size: 100%;
}

body {
    font-family: 'sharpBook25', sans-serif;
    margin: 0px;
    padding: 0px;
    scrollbar-color: #fff #000;
}

.header, .footer {
    text-align: center;
    font-size: 2rem;
    position: fixed;
    height: 50px;
    left: 0px;
    width: 100%;
    background-color: #0f0;
}

.header {
    z-index: 5;
    top: 0px;
}

.footer {
    bottom: 0px;
}

/* questo qua sotto sone i 4 div
qui li cambi globalmente */

#project1, #project2, #project3, #project4 {
    position: fixed;
    width: 50%;
    height: calc(50% - 50px);
    background: linear-gradient(45deg, #f99884, #84f9a1);
    overflow-y: scroll;
    z-index: 0;
    /* font-size: 15vh; */
}

#project1, #project2 {
    top: 50px;
}

#project3, #project4 {
    bottom: 50px;
}

/* qui singolarment */

#project1 {
    /* top: 0px; */
    left: 0px;
}

#project1 {
    /* font-family: 'Courier New', Courier, monospace; */
}

#project2 {
    /* top: 0px; */
    right: 0px;
}

#project3 {
    /* bottom: 0px; */
    left: 0px;
}

#project4 {
    /* bottom: 0px; */
    right: 0px;
}

.title {
    height: 100%;
}

/* questi sono i titoli dei progetti box bianchi */

.project-list div {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 100;
    float: left;
    width: -moz-min-content;
    width: min-content;
    margin: 0.35rem;
    padding: 0.8rem;
    height: auto;
    color: #000;
    background-color: #fff;
    border: solid 3px #000;
    box-shadow: 3px 3px #00f;
    border-radius: 0px;
    font-size: 1.5rem;
    text-align: center;
}

.project-list div:hover {
    color: #00f;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 6px 6px #00f;
    background-color: #ff0;
    font-family: 'sharpBook20', sans-serif;
    /* font-family: 'Prompt', sans-serif;
    font-weight: 900; */
}

.content {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 65vh;
    min-width: 300px;
    min-height: 250px;
    max-height: 1200px;
    border: solid 3px #000;
    background-color: #84f9a1;
    box-shadow: 5px 5px #aaa;
    z-index: 10;
}

.content:hover {
    z-index: 999999;
}

.content-text {
    /* font-family: 'sharpBlack10', sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: calc(100% - 10px);
    position: relative;
    height: calc(100% - 63px);
    background-color: #84f9a1;
    /*nice color*/
    overflow-y: scroll;
    hyphens: manual;
    padding: 5px;
    /* word-break: break-all; */
}

.content-text img {
    width: 100%;
    height: auto;
}

.content-header {
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-bottom: solid 3px #000;
    float: left;
}

.header-title {
    /* float: right; */
    font-family: 'sharpBook25', sans-serif;
    position: absolute;
    right: 0px;
    top: 25px;
    text-align: center;
    transform: translate(0, -12.5px);
    font-size: 0.6rem;
    width: calc(100% - 80px);
    z-index: 11;
}

.content-buttons {
    width: 80px;
    height: 50px;
    float: left;
    z-index: 12;
}

.close-button, .enlarge-button, .reduce-button {
    /* position: absolute; */
    float: left;
    /* top: 25px; */
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin: 4px 0px 0px 4px;
    box-shadow: 2px 2px #00f;
}

.close-button {
    background-color: #f00;
}

.enlarge-button {
    background-color: #0f0;
}

.reduce-button {
    background-color: #ff0;
}